.tremor-Badge-text {
    margin-bottom: 0;
}

Button svg {
    margin: 0
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202127; 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.th-row > th {
  color: #bbb;
  font-weight: bold;
}