/* nav link style */
a {
    -webkit-user-drag: none;
}

.nav-link:hover {
    background-color: #1b1c29;
}

.nav-link:focus {
    background-color: #1b1c29;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #424462;
}


/* Main page layout */
.wrapper {
    display: flex;
    min-height: 100vh;
    max-width: 100hw;
    margin: 0 auto;
}

.sideBar {
    flex-shrink: 0;
    width: 280px;
    height: 100vh;
    overflow: auto;
    position: sticky;
    top: 0;
    padding: 16px;
}

.mainView {
    flex-grow: 1;
    padding: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.text-tremor-content {
    margin-bottom: 0;
}

.gradient-background {
    background: linear-gradient(125deg,rgb(0, 143, 119),rgb(52, 0, 75),rgb(0, 73, 116));
    background-size: 180% 180%;
  }