a {
    -webkit-user-drag: none;
}

.nav-link:hover {
    background-color: #1b1c29;
}

.nav-link:focus {
    background-color: #1b1c29;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #424462;
}